a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container{
  display: grid;
  grid-template-columns:auto auto ;
  gap: none;
}
.containerItemLogo{
  margin-top: 20%;
  margin-left: 10px;
}
.container a{
  text-decoration: none;
}
.logoName{
  color: #2C5072;
  font-weight: 500;
  font-size: 28px;
}
.containerItemUser{
  margin-top: 20%;
  margin-right: 10px;
}
.usernameLink{
  font-size: 24px;
  color:black;
}

.usernameLink:hover{
  font-weight: 700;
  color:darkgray;
}