.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    background-color: #C5C5C5;
}

.nav-container .containerItem{
    color:#2C5072;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
}

.main-container{
    position: relative;
    background-color: #8CA5CB;
    height: 100%;
    margin: 10px 0px;
    padding: 50px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.element{
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align:left;
    padding:10px 5px;
    width: 85%;
    margin-bottom: 10px;
}
.element:hover{
    background-color: #c2c0c0;
    cursor: pointer;
}
.element:last-child{
    margin-bottom: 0px;
}
.about{
    background-color:#D9D9D9 ;
    border-radius: 10px;
    padding: 10px;
}
.about h3{
    text-align: center;
    
}

.flyBtn{
    position: absolute;
    top:15px;
    left:15px;
    background-color: #C5C5C5;
    border: 2px dashed #2C5072;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 29px;
    ;
}
.flyBtn .container{
    margin: 0;
    position: relative;
    margin-top: -15%;
    margin-left: -9%;
}
.flyBtn:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}

.blockCenter{
    display: grid;
    text-align: center;
    margin-top: 0px;
}